Flask_Babel
Flask_Bootstrap
alembic
SQLAlchemy
requests
XlsxWriter
WTForms
chardet
Flask_Migrate
click
Flask
numpy
Flask_Login
pyodbc
Flask_SQLAlchemy
pandas
Flask_WTF
Werkzeug
Flask_Moment
Flask_Mail
Flask_Admin
flask_table
guess_language
plac
PyJWT
python-dotenv
email_validator
