<tr>
            <td width="180px">
                <a href="{{entidade.link_google}}" target="_blank"><img src="/static/images/icone-google-search.png" height="12" width="12" title="Buscar o nome no Google em nova aba" alt="Abrir no Google"></a></span>&nbsp;&nbsp;<a class="noPrint" href='{{entidade.link_rede}}' onclick="this.href=this.href.split('?')[0]+'?k='+Math.random();return true;" target="_blank" title="Abrir aba com visualização do gráfico de relacionamentos. Para mais opções, use a rotina 'Rede de Relacionamentos'."><img src="/static/images/icone-grafo.png"  height="12" width="12"></a>&nbsp;&nbsp;
                <a href="{{ url_for('main.edit_entidade', id=entidade.id) }}"> {{ entidade.cpfcnpj }}  </a>
            </td>
            <td>
                <a href="{{ url_for('main.edit_entidade', id=entidade.id) }}"> {{ entidade.nome }} </a>
            </td>
            <td>
                <a href="{{ url_for('main.edit_entidade', id=entidade.id) }}"> {{ entidade.outros_nomes }} </a>
            </td>
            <td>     
                {% for c in entidade.casos %} 
                <a href="{{url_for('main.edit_caso',id=c.caso.id)}}"> {{c.caso.nome}}</a> 
                {% endfor %} 
            </td>
            <td width="100px">
                {{entidade.indicadores_macros|safe}}{{entidade.indicador_pep|safe}}{{entidade.indicador_rif|safe}}
                {% for e in entidade.eh_pep %} 
                {{e.nome_orgao}}
                {% endfor %}

            </td>
            <td>
                <a href="{{ url_for('main.edit_entidade', id=entidade.id) }}"> {{ entidade.origem }} </a>
            </td>

</tr>
