{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<style>
    /* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50px;
  left: 400px;
  max-width: 800px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 800px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

</style>

<script type="text/javascript">
function openForm() {
  document.getElementById("link_spacy").click()
  document.getElementById("myForm").style.display = "block";
  document.getElementById("btn_spacy").style.display = "none";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("btn_spacy").style.display = "";
}
// Wait for the page to load first
window.onload = function() {
//Get a reference to the link on the page
// with an id of "mylink"
    var a = document.getElementById("mylink");

     //Set code to run when the link is clicked
     // by assigning a function to "onclick"
     a.onclick = function() {

            // Your code here...
           document.getElementById("myForm").style.display = "block";

            //If you don't want the link to actually
            // redirect the browser to another page,
            // "google.com" in our example here, then
            // return false at the end of this block.
            // Note that this also prevents event bubbling,
            // which is probably what we want here, but won't
            // always be the case.

            return false;
          }
        }

</script>

    <h1>{{ title }}</h1>
<section>
    <div class="row" style="heigth: 350px;">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <button class="open-button" onclick="openForm()"  id="btn_spacy">Analisar texto</button>
            <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.scantexto', id=id) }}" title="Identificar entidades envolvidas no texto" target="iframe_spacy" id="link_spacy" ></a> <!--&#x1F578;-->
        </div>
    </div>


<article>
    <div class="form-popup" id="myForm" >
  <form action="/action_page.php" class="form-container">
      <iframe class="iframe" height="350px" width="770px" src="/app/templates/aguarde.html" name="iframe_spacy"></iframe>
      <table><tr><td></td><td>
        <button type="button" class="btn cancel" onclick="closeForm()">Fechar</button>
      </td><td></td></tr></table>
  </form>

        <div id="displacy">
           {{ visu | safe}}
        </div>
        <div class="col-md-4"  >
            <table width="2000px">
            {% for achado in achados %}
                <tr><td width="170px">
                    {{ achado.ente }}
                </td>
                <td width="35px">
                    {{ achado.tipo }}
                </td>
                <td width="1000px">
                    {{ achado.contexto }}
                </td>
                </tr>
                {% endfor %}
            </table>
        </div>

{% endblock %}
</article>
</section>