{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
<table>
    <tr>
	<td>
    <div class="row">
        <div class="col-md-4" id="obj_div" style="width: 250px; heigth: 350px;">
            {{ wtf.quick_form(form) }}

            {% if conexao and conexao.ativa %}
            <p style="background-color:LightGreen; transparency=0.1" >Conexão disponível</p>
            {% else %}
            <p style="background-color:Tomato; transparency=0.1" >Conexão INDISPONÍVEL</p>
            {% endif %}
        </div>
        {% if id %}

        <div class="col-md-4" id="consultas_ente_div" style="width: 450px; heigth: 350px; ">
            <p>CONSULTAS DE ENTES <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.add_consulta', id=id, tipo='E') }}" title="Adicionar consultas de Entes" >{%if emojis%}&#x{{emojis['incluir']}}{%else%}&#x2795;{%endif%}</a></p>
            <table>
            {% for consulta in conexao.consultas %}
                {% if consulta.tipo == "E" %}
            <tr>
                <td width="17px">
                   <a class="ferramentaslinhabtn_verde" href="{{ url_for('main.edit_consulta', id=consulta.id) }}" title="Alterar Consulta de entes">{%if emojis%}&#x{{emojis['alterar']}}{%else%}✎{%endif%}</a>
                </td>
                <td width="17px">
                    <a class="ferramentaslinhabtn_vermelho" href="{{ url_for('main.del_consulta', id=consulta.id) }}" title="Excluir">&#x1F5D1;</a>
                </td>
                   <td width="240px">
                       <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}" title="Alterar consulta"> {{ consulta.nome }}</a>
                   </td>
                   <td width="500px">
                   <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}" title="Alterar consulta"> {{ consulta.descricao }} </a>
                   </td>
                   <td width="240px">
                    <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}"title="Alterar consulta"> {{ consulta.fonte }} </a>
                   </td>
                   <td width="20px">
                     <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}"> {{ consulta.habilitada }} </a>
                   </td>
            </tr>
            {% endif %}
            {% endfor %}
                </table>
            <p></p>
            <p>CONSULTAS DE RELACIONAMENTOS <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.add_consulta', id=id, tipo='V') }}" title="Adicionar consultas de relacionamentos">{%if emojis%}&#x{{emojis['incluir']}}{%else%}&#x2795;{%endif%}</a></p>
            <table>
            {% for consulta in conexao.consultas %}
                {% if consulta.tipo == "V" %}
                <td width="17px">
                   <a class="ferramentaslinhabtn_verde" href="{{ url_for('main.edit_consulta', id=consulta.id) }}" title="Alterar Consulta de relacionamentos">{%if emojis%}&#x{{emojis['alterar']}}{%else%}✎{%endif%}</a>
                </td>
                <td width="17px">
                    <a class="ferramentaslinhabtn_vermelho" href="{{ url_for('main.del_consulta', id=consulta.id) }}" title="Excluir">&#x1F5D1;</a>
                </td>
                   <td width="240px">
                       <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}" title="Alterar consulta"> {{ consulta.nome }}</a>
                   </td>
                   <td width="500px">
                   <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}" title="Alterar consulta"> {{ consulta.descricao }} </a>
                   </td>
                   <td width="240px">
                    <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}"title="Alterar consulta"> {{ consulta.fonte }} </a>
                   </td>
                   <td width="20px">
                     <a href="{{ url_for('main.edit_consulta', id=consulta.id) }}"> {{ consulta.habilitada }} </a>
                   </td>
            </tr>
            {% endif %}
            {% endfor %}
                </table>
        </div>
        {% endif %}
    </div>
	</td>

    </tr>
</table>
{% endblock %}
