{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
        <div class="col-md-4" id="obj_div" >
            {{ wtf.quick_form(form) }}

         </div>
        {% if id %}

        <div class="col-md-4" id="consultas_ente_div" >
            <p style="background-color:LightGreen; Transparency:0.1">CONSULTAS DE ENTES</p>
            <table>
            {% for consulta in trilha.selecao %}
                {% if consulta.tipo == "E" %}
            <tr>
                <td width="17px">
                    {% if consulta.tr_id == 'N'%}
                    <a href="{{ url_for('main.add_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Incluir consulta na trilha">{%if emojis%}&#x{{emojis['checkedout']}}{%else%}&#x2610;{%endif%} </a>
                    {% else %}
                    <a href="{{ url_for('main.del_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Excluir consulta da trilha">{%if emojis%}&#x{{emojis['checkedin']}}{%else%}&#x2611;{%endif%} </a>
                    {% endif %}
                </td>
                   <td width="240px" title="Nome">
                       {{ consulta.nome }}
                   </td>
                   <td width="500px" title=Descrição>
                   {{ consulta.descricao }}
                   </td>
                   <td width="240px" title="Fonte">
                    {{ consulta.fonte }}
                   </td>

            </tr>
            {% endif %}
            {% endfor %}
                </table>
            <p></p>
            <p style="background-color:Tomato; Transparency:0.1">CONSULTAS DE RELACIONAMENTOS</p>
            <table>
            {% for consulta in trilha.selecao %}
                {% if consulta.tipo == "V" %}
                <td width="17px">
                    {% if consulta.tr_id == 'N'%}
                    <a href="{{ url_for('main.add_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Incluir consulta na trilha">{%if emojis%}&#x{{emojis['checkedout']}}{%else%}&#x2610;{%endif%} </a>
                    {% else %}
                    <a href="{{ url_for('main.del_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Excluir consulta da trilha">{%if emojis%}&#x{{emojis['checkedin']}}{%else%}&#x2611;{%endif%} </a>
                    {% endif %}
                </td>
                   <td width="240px" title="Nome">
                       {{ consulta.nome }}
                   </td>
                   <td width="500px" title=Descrição>
                   {{ consulta.descricao }}
                   </td>
                   <td width="240px" title="Fonte">
                    {{ consulta.fonte }}
                   </td>

            </tr>
            {% endif %}
            {% endfor %}
                </table>
        </div>
        {% endif %}
{% endblock %}
