{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
<table>
    <tr>
	<td>
    <div class="row">
        <div class="col-md-4" id="obj_div" style="width: 250px; heigth: 350px;">
            {{ wtf.quick_form(form) }}

         </div>
        {% if id %}

        <div class="col-md-4" id="consultas_ente_div" style="width: 450px; heigth: 350px; ">
            <p style="background-color:LightGreen; Transparency:0.1">CONSULTAS DE ENTES</p>
            <table>
            {% for consulta in trilha.selecao %}
                {% if consulta.tipo == "E" %}
            <tr>
                <td width="17px">
                    {% if consulta.tr_id == 'N'%}
                    <a href="{{ url_for('main.add_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Incluir consulta na trilha">&#x2610; </a>
                    {% else %}
                    <a href="{{ url_for('main.del_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Excluir consulta da trilha">&#x2611; </a>
                    {% endif %}
                </td>
                   <td width="240px" title="Nome">
                       {{ consulta.nome }}
                   </td>
                   <td width="500px" title=Descrição>
                   {{ consulta.descricao }}
                   </td>
                   <td width="240px" title="Fonte">
                    {{ consulta.fonte }}
                   </td>

            </tr>
            {% endif %}
            {% endfor %}
                </table>
            <p></p>
            <p style="background-color:Tomato; Transparency:0.1">CONSULTAS DE RELACIONAMENTOS</p>
            <table>
            {% for consulta in trilha.selecao %}
                {% if consulta.tipo == "V" %}
                <td width="17px">
                    {% if consulta.tr_id == 'N'%}
                    <a href="{{ url_for('main.add_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Incluir consulta na trilha">&#x2610; </a>
                    {% else %}
                    <a href="{{ url_for('main.del_consulta_trilha', id_consulta=consulta.id, id_trilha=trilha.id) }}" title="Excluir consulta da trilha">&#x2611; </a>
                    {% endif %}
                </td>
                   <td width="240px" title="Nome">
                       {{ consulta.nome }}
                   </td>
                   <td width="500px" title=Descrição>
                   {{ consulta.descricao }}
                   </td>
                   <td width="240px" title="Fonte">
                    {{ consulta.fonte }}
                   </td>

            </tr>
            {% endif %}
            {% endfor %}
                </table>
        </div>
        {% endif %}
    </div>
	</td>

    </tr>
</table>
{% endblock %}
