{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
    .central {
      position: relative;}

</style>

    <h1>{{ title }}</h1>
<section>
    <div class="row" style="heigth: 350px;">
        <div class="col-md-4" >
            <label for="folder">Selecione a pasta</label>
            <p></p>
<a class="ferramentaslinhabtn_azul" href="{{ url_for('main.selecionar_pasta') }}" title="Selecionar pasta"  ></a> <!--&#x1F578;-->
            <script language="JavaScript">
            function get_Folder(){
            return showModalDialog("acervo/app/templates/folder_dialog.html","","width:400px;height:400px;resizeable:yes;");
            }</SCRIPT>
            <input type="text" name="yourFieldName"><input type="button" value="Busca" onclick="this.form.yourFieldName.value=get_Folder()">

    <script type="text/javascript">
  function getfolder(e) {
    var files = e.target.files;
    var path = files[0].webkitRelativePath;
    var Folder = path.split("/");
    alert(Folder[0]);
  }
</script>
            <input type="file" id="folder" webkitdirectory multiple/>

            <h2>Selected Files</h2>
<ul id="listing">
<script>
document.getElementById("folder").addEventListener("change", function(event) {
  /* var output = document.querySelector("ul");*/
  var output = document.getElementById("listing")
  var files = event.target.files;

  for (var i=0; i<files.length; i++) {
    var item = document.createElement("li");
    item.innerHTML = files[i].webkitRelativePath;
    output.appendChild(item);
  };
}, false);
</script>
</ul>

            <!--{{ wtf.quick_form(form) }}-->
           <!-- {{ wtf.quick_form(form,enctype="multipart/form-data") }} -->

        </div>
    <!--article-->

        {% if id %}
       <div  class="col-md-8" id="casos_div" style="width: 450px; heigth: 350px;"  >
               IMPORTAR RELATÓRIO DE INFORMAÇÃO <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.add_entesfonte', id=id) }}" title="Adicionar entes mencionados">  &#x2795;</a>
               <!--a class="ferramentaslinhabtn_azul" href="{{ url_for('main.scantexto', id=id) }}" title="Identificar entidades envolvidas no texto" target="iframe_spacy" id="link_spacy" >&#x1F578; </a-->
        </div>
        {% endif %}

    <!--/article-->
    </div>

</section>

{% endblock %}

