{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
<table>
    <tr>
    <div class="row">
        <div class="col-md-4" id="obj_div" style="width: 250px; heigth: 350px;">
            {{ wtf.quick_form(form) }}
        </div>
        {% if id %}
        <div class="col-md-4" id="casos_div" style="width: 250px; heigth: 350px;"  >
            RINFS
            {% for rinf in rinfs %}
               <p>  {{ rinf.rinf.numero }} ({{rinf.rinf_indexador}})</p> </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    </tr>
    <tr>
        {% if id %}
        <div>
            <table>
            ENTIDADES ENVOLVIDAS <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.add_entidadescaso', id=id) }}" title="Adicionar entidades envolvidas">  &#x2795;
                <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.gerar_grafocaso', id=id) }}" title="Gerar grafo de entidades envolvidas">&#x1F578;
                    {% for entidade in entidades %}
                <tr>
                   <td width="17px">
                   <a class="ferramentaslinhabtn_verde" href="{{ url_for('main.edit_entidadescaso', id=entidade.id) }}" title="Alterar observação">✎</a></td>
                   <td width="17px">
                       <a class="ferramentaslinhabtn_vermelho" href="{{ url_for('main.del_entidadecaso', ent=entidade.entidade.id, cas=id) }}" title="Excluir">&#x1F5D1;</a></td>
                   <td width="17px">
                   <a class="ferramentaslinhabtn_azul" href="{{ url_for('main.edit_entidade', id=entidade.entidade.id) }}" title="Entidade">&#x1F464;</a></td>
                   <td width="140px">
                       <a href="{{ url_for('main.edit_entidadescaso', id=entidade.id) }}" title="Alterar observação"> {{ entidade.entidade.cpfcnpj }}</a> </td>
                   <td width="500px">
                   <a href="{{ url_for('main.edit_entidadescaso', id=entidade.id) }}" title="Alterar observação"> {{ entidade.entidade.nome }} {% if entidade.entidade.outros_nomes %} ({{entidade.entidade.outros_nomes}}){% endif %}</a>
                   </td>
                   <td width="500px">
                     {{entidade.obs}}
                   </td>
                </tr>
            {% endfor %}
            </table>

        {% endif %}
    </div>
    </tr>
</table>
{% endblock %}
