{% extends "base.html" %}

{% macro form_group(field) -%}
    <div class="form-group required">
        <label for="{{ field.id }}" class="form-control-label">{{ field.label }}</label>
        {% if field.errors %}
            {{ field(class_="form-control is-invalid") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors[0] }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro quick_form(form) -%}
    <form class="form" method="POST">
    {% for field in form %}
        {% if field.type in ('HiddenField', 'CSRFTokenField') %}
            {{ field() }}
        {% elif field.type == 'SubmitField' %}
            {{ field(class_="btn btn-primary") }}
        {% else %}
            {{ form_group(field) }}
        {% endif %}
    {% endfor %}
    </form>
{% endmacro %}



{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"></td>
            <td>
                 {{ quick_form(form) }}
            </td>

        </tr>
    </table>
    {% for caso in casos %}
        {% include '_caso.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Anteriores') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Próximos') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
